<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/navbar') %> 
    <h1>Camel Mo</h1>
    <ul>
    <% for (let i=0; i<camelParty.length; i++){ %>
        <li><%= camelParty[i] %> </li>
    <% } %> 
    </ul>
  </body>
</html>




  