<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <h1>Short Stories <%= 'This is me Homie Page'.toUpperCase() %></h1>
    <p>
        I am an 84-year-old gentleman who stands 5’4” tall from the basketball-crazy state of Indiana. Recently, my wife and I were having dinner at a local restaurant. Our waiter was a young man, around 6’8”. Naturally, I asked him if he played basketball. He looked down at me, replied, “Yes, I do,” and then asked me if I played miniature golf. 
    </p>

    <p>The morning of June 27th was clear and sunny, with the fresh warmth of a full-summer day; the flowers were blossoming profusely and the grass was richly green. The people of the village began to gather in the square, between the post office and the bank, around ten o’clock; in some towns there were so many people that the lottery took two days and had to be started on June 20th, but in this village, where there were only about three hundred people, the whole lottery took less than two hours, so it could begin at ten o’clock in the morning and still be through in time to allow the villagers to get home for noon dinner.</p>
    
</body>
</html>