<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <h1>Sorry! I've been searching everywhere! Cannot find <b><i><%=subreddit%></i></b>!</h1>
    <!-- <img src="/img/dontknw.jpg" class="img-fluid" alt=""> -->

    <figure class="figure">
        <img src="/img/dontknw.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
      </figure>
</body>
</html>